/**
*  Scss for the component:
*  This will auto generate a css file in the same directory
*  /!\ Import the (==> .css <==) file into the component. (ref ./DefaultComponent.tsx)
*/
.vertical-split-pane {
  position: relative;
  height: 100%; }
  .vertical-split-pane .left {
    height: 100%; }
  .vertical-split-pane .right {
    height: 100%; }
  .vertical-split-pane .SplitPane {
    position: relative !important; }
  .vertical-split-pane .Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box; }
  .vertical-split-pane .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease; }
  .vertical-split-pane .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize; }
  .vertical-split-pane .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5); }
  .vertical-split-pane .Resizer.disabled {
    cursor: not-allowed; }
  .vertical-split-pane .Resizer.disabled:hover {
    border-color: transparent; }
