/**
*  Scss for the component:
*  This will auto generate a css file in the same directory
*  /!\ Import the (==> .css <==) file into the component. (ref ./DefaultComponent.tsx)
*/
.horizontal-split-pane .Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box; }

.horizontal-split-pane .Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease; }

.horizontal-split-pane .Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%; }

.horizontal-split-pane .Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5); }

.horizontal-split-pane .Resizer.disabled {
  cursor: not-allowed; }

.horizontal-split-pane .Resizer.disabled:hover {
  border-color: transparent; }
