/**
*  Scss for the component:
*  This will auto generate a css file in the same directory
*  /!\ Import the (==> .css <==) file into the component. (ref ./DefaultComponent.tsx)
*/
.default-code-editor {
    height: 100%;
    .ReactCodeMirror{
        height: 100%;
        .CodeMirror {
            height: 100%;
        }
    }
}