/**
*  Scss for the component:
*  This will auto generate a css file in the same directory
*  /!\ Import the (==> .css <==) file into the component. (ref ./DefaultComponent.tsx)
*/
.default-code-editor {
  height: 100%; }
  .default-code-editor .ReactCodeMirror {
    height: 100%; }
    .default-code-editor .ReactCodeMirror .CodeMirror {
      height: 100%; }
