.bubble-sidenav {
  /* Position and sizing of burger button */
  /* Color/shape of burger icon bars */
  /* Position and sizing of clickable cross button */
  /* Color/shape of close button cross */
  /* General sidebar styles */
  /* Morph shape necessary with bubble or elastic */
  /* Wrapper for item list */
  /* Styling of overlay */ }
  .bubble-sidenav .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 20px; }
  .bubble-sidenav .bm-burger-bars {
    background: #373a47; }
  .bubble-sidenav .bm-cross-button {
    height: 24px;
    width: 24px; }
  .bubble-sidenav .bm-cross {
    background: #bdc3c7; }
  .bubble-sidenav .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    z-index: 10; }
  .bubble-sidenav .bm-morph-shape {
    fill: #373a47; }
  .bubble-sidenav .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em; }
  .bubble-sidenav .bm-overlay {
    background: rgba(0, 0, 0, 0.3); }
