@import url(~codemirror/lib/codemirror.css);
@import url(~codemirror/theme/dracula.css);
@import url(~codemirror/theme/monokai.css);
html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
